<div class="mask" id="mask"></div>
<a href="javascript:;" id="gotop" class="waves-effect waves-circle waves-light"><span class="icon icon-lg icon-chevron-up"></span></a>
<% if(theme.share){ %>
<%- partial('post/share', {scope: 'global'}) %>
<% } %>
<% if (theme.mermaid.enable) { %>
  <script src='/js/mermaid.min.js'></script>
  <script>
    if (window.mermaid) {
      mermaid.initialize({theme: 'default'});
    }
  </script>
<% } %>